{{- if .Values.postgres.enabled }}
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ include "mon-projet.fullname" . }}-postgres
  labels:
    {{- include "mon-projet.labels" . | nindent 4 }}
spec:
  serviceName: {{ include "mon-projet.fullname" . }}-postgres
  replicas: 1
  selector:
    matchLabels:
      app: {{ include "mon-projet.fullname" . }}-postgres
  template:
    metadata:
      labels:
        app: {{ include "mon-projet.fullname" . }}-postgres
    spec:
      containers:
        - name: postgres
          image: "postgres:16-alpine"
          env:
            - name: POSTGRES_DB
              value: {{ .Values.postgres.auth.database | quote }}
            - name: POSTGRES_USER
              value: {{ .Values.postgres.auth.username | quote }}
            - name: POSTGRES_PASSWORD
              value: {{ .Values.postgres.auth.password | quote }}
          ports:
            - containerPort: 5432
              name: postgres
          volumeMounts:
            - name: data
              mountPath: /var/lib/postgresql/data
  volumeClaimTemplates:
    - metadata:
        name: data
      spec:
        accessModes: ["ReadWriteOnce"]
        resources:
          requests:
            storage: {{ .Values.postgres.storage.size | quote }}
{{- end }}
